<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <ul>
        <li th:each="dto : ${list}" >
            [[${dto}]]

        </li>
    </ul> -->
    
    <!-- <ul>
        <li th:each="dto, state :${list}">
            [[${state.index}]] ---[[${dto}]]

        </li>
    </ul> -->

    <!-- <ul>
        <li th:each="dto, state : ${list}" >
            <span th:if="${dto.sno % 5 == 0}" th:text="${'-----------------' +dto.sno}"></span>
            <span th:unless="${dto.sno % 5 == 0}" th:text="${dto.first}"></span>
        </li>
    </ul> -->

    <ul>
        <li th:each="dto, state : ${list}"  th:text="${dto.sno  % 5 == 0 }? ${dto.sno}">
        </li>
    </ul>

</body>

</html>